/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.about-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  object-fit: cover;

  &-img {
    filter: brightness(65%);
    object-position: 0 -50%;
  }
}