/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &-img {
    filter: brightness(65%);
  }
}

.full-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  max-height: 200px;
}

.shop-title,
.journal-home-title {
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 40px;
}

.product-type-blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-type-wrapper {
  border: 1px solid $color__border-abbr;
  border-top: 5px solid $color__border-abbr;
  text-align: center;
  width: 250px;

  &:hover {
    border-color: $color__brand-orange;
  }

  img {
    padding-top: 10px;
    margin-bottom: 15px;
    height: 75px;
    width: auto;
  }

  p {
    font-family: $font__accent;
  }
}

.adventures {
  width: 100vw;
  height: 110vh;
  overflow: hidden;
  padding: 0 20px;
  margin-bottom: 60px;

  & h2 {
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 40px;
  }

  & ul {
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-auto-rows: 20%;
    grid-gap: 20px 20px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    margin-top: 3rem;
  }

  & img {
    filter: brightness(65%);
    object-fit: cover;
    object-position: -180px -75px;
    max-height: 620px;
    max-width: none;
    width: auto;
  }

  & li {
    line-height: 1;
    overflow: hidden;
    position: relative;
    object-position: 100% 150%;
    width: 100%;
  }

  & li:first-child {
    grid-column: 1/span 2;
    grid-row: 1/span 2;

    & .story-info {
      transform: translate(10px, -650px);
    }
  }

  & li:nth-child(2) {
    grid-column: 3/span 2;
    grid-row: 1/span 1;

    & img {
      object-position: -160px -210px;
    }

    & .story-info {
      transform: translate(10px, -550px);
    }
  }

  & li:nth-child(3) {
    & img {
      object-position: -380px -300px;
    }

    & .story-info {
      transform: translate(10px, -600px);
    }
  }

  & li:last-child {
    & img {
      object-position: -330px -300px;
    }

    & .story-info {
      transform: translate(10px, -600px);
    }
  }

  & .story-info {
    margin: 1.5rem;
    position: absolute;
  }

  & .story-wrapper {
    position: relative;
  }

  & h3 {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 30px;
  }

  & a {
    text-decoration: none;
  }

  & .see-more {
    transform: translate(0px -740px);
    width: 200px;
  }
}


/* Journal Homepage style */

.journal-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 20px 20px;
  width: 100%;
  background: #fff;
  padding-right: 30px;

  & .listing-item {
    border: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;

    & img {
      max-height: 240px;
      object-fit: cover;
    }

    & .title {
      font-family: $font__main;
      color: $color__brand-green;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      max-width: 360px;

      &:hover {
        color: $color__brand-purple;
      }
    }

    & .title a {
      max-width: 360px;
    }
  }
}