.journal-content {
  display: flex;
  & .content-area {
    max-width: 800px;
  }
  & .entry-content {
    & p {
      width: 650px;
    }
  }
  & .entry-header {
    position: relative;
    object-fit: cover;
    & .entry-meta {
      background-color: $color__brand-green;
      bottom: 0;
      color: #fff;
      display: inline-block;
      font-family: Novecento Sans Web,
      sans-serif;
      padding: .4rem;
      position: absolute;
      right: 0;
      text-transform: uppercase;
    }
  }
  & .entry-title {
    background-color: $color__brand-green;
    color: #fff;
    font-size: 33.6px;
    font-size: 2.1rem;
    left: 0;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 2.25rem;
    max-width: 75%;
    top: 0;
  }
  .side-bar {
    margin-left: 200px;
  }
}