/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.menu-search {
	display: flex;
}


.main-navigation {
	display: flex;
	z-index: 1;
	position: absolute;
	width: 100vw;
	justify-content: space-between;
	padding: 5px 6rem 0 6rem;

	ul {
		flex-direction: row;
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: flex;
		align-self: flex-end;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: $base__space-unit;

			ul {
				left: 0;
				top: 0;
			}

			li {

				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover>a,
			.focus>a {}

			a:hover,
			a.focus {}
		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}

	li {
		position: relative;
		padding: 1rem;

		&:hover>a,
		&.focus>a {}
	}

	a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: $font__main;
	}

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a {}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
	}
}

/* Search Bar */

.search-toggle i {
	font-size: 20px;
	transform: translate(0,15px);
	margin-left: 5px;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		width: 50%;
	}

	.nav-next {
		text-align: right;
		width: 50%;
	}
}

//  Site logo

.header-logo {
	flex-basis: 50%;
	padding-top: 10px;

	&-img {
		max-height: 36px;
		width: auto;
	}
}