/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &-img {
    filter: brightness(65%);
  }
}

.full-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  max-height: 200px;
}

/* Grid style */

.display-posts-listing.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
}

.display-posts-listing.grid .title {
  display: block;
}

.display-posts-listing.grid img {
  display: block;
  max-width: 100%;
  height: auto;
}