/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.front-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &-img {
    filter: brightness(65%);
  }
}

.full-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  max-height: 200px;
}

.shop-title {
  padding: 2rem 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 40px;
}

.product-type-blocks {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.product-type-wrapper {
  border: 1px solid $color__border-abbr;
  border-top: 5px solid $color__border-abbr;
  text-align: center;
  width: 250px;

  img {
    padding-top: 10px;
    margin-bottom: 15px;
    height: 75px;
    width: auto;
  }

  p {
    font-family: $font__accent;
  }
}

.adventures {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0 60px;

  & h2 {
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 40px;
  }
  & ul {
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-auto-rows: 20%;
    grid-gap: 20px 20px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    margin-top: 3rem;
  }

  & img {
    filter: brightness(65%);
    object-fit: cover;
    object-position: -180px -75px;
    max-height: 620px;
    max-width: none;
    width: auto;
  }

  & li {
    line-height: 1;
    overflow: hidden;
    position: relative;
    object-position: 100% 150%;
    width: 100%;
  }

  & li:first-child {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    & .story-info {
      transform: translate(10px, -300px);
    }
  }

  & li:nth-child(2) {
    grid-column: 3/span 2;
    grid-row: 1/span 1;

    & img {
      object-position: -160px -210px;
    }
    & .story-info {
      transform: translate(10px, -500px);
    }
  }

  & li:nth-child(3) {
    & img {
      object-position: -380px -300px;
    }
    & .story-info {
      transform: translate(10px, -500px);
    }
  }

  & li:last-child {
    & img {
      object-position: -330px -300px;
    }

    & .story-info {
      transform: translate(10px, -500px);
    }
  }

  & .story-info {
    margin: 1.5rem;
    position: absolute;
  }
  & .story-wrapper {
    position: relative;
  }
  & h3 {
    font-family: 'Merriweather';
    font-weight: 400;
  }
}


/* Grid style */

.journal-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.listing-item {
  display: flex;
  flex-direction: column;
}

.dlisting.grid .title {
  display: block;
}

.display-posts-listing.grid img {
  display: block;
  max-width: 100%;
  height: auto;
}